* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding-container: 16px;
  --max-container: 1400px;
  --font-size-title: clamp(4.05rem, 18.78vw + -1.64rem, 11.26rem);
  --bg: hsl(0, 0%, 100%);
  --text-primary: hsl(0, 0%, 10%);
  --blob-color: 255, 255, 255;
  --blob-x: 1;
  --blob-y: 1;
}

li {
  list-style-type: none;
}

li:hover {
  color: red;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.container {
  position: relative;
  background-color: #151515;
  height: 100vh;
  overflow: hidden;
}

.vertical-main {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: calc(90% - 70px);
  transform: rotate(90deg);
  color: rgb(255, 255, 255);
  width: 30px;
  z-index: 9999;
}

.main {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-text {
  z-index: 9999;
  position: absolute;
  left: 30px;
  top: 7px;
  color: #ffffff;
}

.blackTogle {
  color: #000000;
}

.land {
  overflow: hidden;
  margin: 30px;
  border: 1px solid rgb(255, 255, 255);
  height: calc(100% - 60px);
}

h1,
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* slider */

.content-text {
  line-height: 11px;
}

#sliderFx {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

@supports (height: 100vh) {
  #sliderFx {
    height: 100vh;
  }
}

/* Button content */

.button_slider {
  margin-top: 15px;
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  border-radius: 100px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.button_slider button {
  line-height: 100px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  border-radius: 100px;
  border: solid 5px var(--color-alt);
  background: none;
  font-weight: bold;
  color: var(--color-alt);
}

.displayNone {
  display: none;
}

.modal {
  border-radius: 0;
  width: 150%;
  height: 110vh;
}

.hide {
  animation: hide 0.5s forwards;
  animation-delay: 0.25s;
}

@keyframes hide {
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

/* Inside content */

.contentModal {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 80vw;
  margin: auto;
  align-items: stretch;
}

.contentModal > * {
  font-family: sans-serif;
  color: black;
}

.contentModal p {
  line-height: 150%;
}

.contentModal a {
  font-weight: bold;
  float: right;
}

.contentModal a:visited {
  color: inherit;
}

.blob {
  position: absolute;
  transform: translate3d(calc(var(--blob-x) * 1px), calc(var(--blob-y) * 1px), 0);
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
  filter: blur(4vmin);
  background: radial-gradient(ellipse at center, rgba(var(--blob-color), 0.7) 0%, rgba(var(--blob-color), 0.65) 100%);
  mix-blend-mode: difference;
}

.noise {
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: transparent url("https://assets.codepen.io/108082/Noise.png") 0 0;
  background-size: 120px 120px;
  mix-blend-mode: luminosity;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  transition: transform 0.1s ease;
  color: #ffffff;
  transform-style: preserve-3d;
  will-change: transform;
  mix-blend-mode: difference;
  background: rgb(0, 0, 0);
}

.card img {
  display: flex;
  position: absolute;
  width: 150%;
  height: 150%;
  object-fit: cover;
}

@-moz-document url-prefix() {
  .card {
    mix-blend-mode: unset;
    background: transparent;
  }
}

#mode-circle {
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: 0;
  border-radius: 50%;
  background: #ffffff;
  width: 15vw;
  height: 15vw;
  transform: scale(0) translate(-50%, -50%);
}

footer {
  mix-blend-mode: difference;
  position: fixed;
  inset-block-end: 80px;
  inset-inline-end: 70px;
}

footer button {
  background: none;
  border: none;
  min-width: 8px;
  font-size: 1.5rem;
}

footer button:hover {
  cursor: pointer;
}

.moon {
  position: absolute;
  color: #ffffff;
  width: 1em;
  height: 1em;
  font-size: 24px;
}

.sun {
  position: absolute;
  color: #ffffff;
  width: 1em;
  height: 1em;
  font-size: 24px;
}

footer button #sun,
footer button #moon {
  visibility: hidden;
}
